*{
	margin: 0px;
}

#wrapper{
	margin: auto;
	width: 1000px;
	background-color: #232323;
	padding: 0 20px;
}
#content{
	background-color: #232323;
	border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #4c4c4c;
    padding-top: 25px;
}

#topHead{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #4c4c4c;

}
#topHead .logIn{
	float: right;
}

input[type="text"] {
	background-color: #232323;
	color: #4c4c4c;
    border: 1px solid #363636;
    padding: 5px;
	margin-right: 10px;
}

button {
    background-color: #3a3a3a;
    border: 1px solid #363636;
    height: 25px;
    font-weight: bold;
}
/*End top header*/

.midHead .logo{
	float: left;
	width: 210px;
}
.logo a{
	margin-bottom: 20px;
}

.midHead .banner{
	float: right;
	margin-top: 11px;
}

.midHead.clearfix{
	margin-top: 30px;
	margin-bottom: 30px;
}
/*End mid header*/

#mainmenu{
	clear: both;
	height: 60px;
	background-color: #000000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #4c4c4c;
}

#mainmenu ul{
	list-style-type: none;
	padding: 0px;
}

#mainmenu a{
	font-family: Georgia;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	height: 18px;
	width: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}
/*End main menu*/

.slider{
	margin-top: 15px;
	margin-bottom: 20px;
	background-color: #3a3b3f;
	padding: 15px;
}

#content div h2{
	margin-bottom: 20px;
	color: #3a3b3f;
	font-size: 26px;
}


.blockitem .item{
	float: left;
	width: 182px;
	text-align: center;
	margin-right: 10px;

}

p.itemImg {
    border: 1px solid #4f4f4f;
    padding: 5px;
    margin-bottom: 10px;
}

.moreInfo{
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	background-color: #1e1e1e;
	border: 0px solid;
	height: 30px;
    padding: 8px;
}

.moreInfo a{
	color: #f35425;
}
.blockItem2{
	margin-top: 40px;
}

.blockItem2 .item2{
	float: left;
	width: 300px;
	margin-right:20px;
}
.title{
	color: #666666;
	font-size:20px;
	text-decoration: none;
	text-align: left;
	padding-bottom: 15px;
    border-bottom: 1px solid #383838;
    margin-bottom: 15px;
}

.ctnRead{
	width: 135px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.text{
	text-align: left;
	color: #cccccc;
	font-size: 12px;
	font-style: normal;
	margin-top: 15px;
}
/*End content*/

.directoryNav{
	height: 175px;
    background-color: #2d2d2f;
    padding: 30px 0 0 20px;
}

.titleFt{
	font-size: 20px;
	font-family: Georgia;
	font-style: normal;
	color: #98989a;
	padding-bottom: 10px;
	border-bottom: 1px solid #636364;
	margin-bottom: 10px;
}

.ftLeft{
	width: 270px;
	float: left;

}

.ftLeft p{
	color: #98989a;
	margin-bottom: 10px;
	margin-top: 10px;
}

.ftSearch input{
	background-color: #ffffff;
	float: left;
}

.bttSearch button{
	height: 27px;
	background-color: #ffffff;
	font-weight: normal;
}

.ftRight .Link{
	width: 180px;
	float: right;
	margin-right: 20px;
}

.Link p{
	color: #f35425;
}

.copyRight{
	height: 45px;
	padding: 15px 0;
	background-color: #1f1f1f;
}

.copyRight p{
	display: inline;
	padding-left: 20px;
	color: #ffffff;
}

.copyRight p+p{
	float: right;
	padding-right: 20px;
}
/*End footer*/
